<template>
  <fieldset>
    <legend>{{ t("Clock format") }}</legend>

    <RadioBoxedLabel
      :labelleft="{
        for: 'hourFormat_12',
        text: t('12 hours'),
      }"
      :labelright="{
        for: 'hourFormat_24',
        text: t('24 hours'),
      }"
      :hideinput="false"
      :selected="currentSettings.hourFormat === '12' ? 'left' : 'right'"
    >
      <input
        slot="input-left"
        id="hourFormat_12"
        type="radio"
        name="hourFormat"
        value="12"
        :checked="currentSettings.hourFormat === '12'"
      />

      <input
        slot="input-right"
        id="hourFormat_24"
        type="radio"
        name="hourFormat"
        value="24"
        :checked="currentSettings.hourFormat === '24'"
      />
    </RadioBoxedLabel>

    <CheckboxBorderedLabel
      for="showSeconds"
      :text="t('Show time with seconds')"
    >
      <input
        id="showSeconds"
        type="checkbox"
        name="showSeconds"
        :checked="currentSettings.showSeconds"
      />
    </CheckboxBorderedLabel>
    <CheckboxBorderedLabel
      for="useCustomTimezone"
      :text="t('Use different time zone')"
    >
      <input
        id="useCustomTimezone"
        type="checkbox"
        name="useCustomTimezone"
        :checked="currentSettings.useCustomTimezone"
      />
    </CheckboxBorderedLabel>
    <select
      name="customTimezone"
      id="customTimezone"
      v-if="currentSettings.useCustomTimezone"
    >
      <option disabled selected value="">
        <em>{{ t("Select your time zone") }}</em>
      </option>
      <option
        v-for="(tz, key) in timezones"
        :value="tz.id"
        :selected="tz.id === currentSettings.customTimezone"
        :key="key"
      >
        {{ tz.name }}
      </option>
    </select>
  </fieldset>
</template>

<script>
module.exports = {
  name: "clock",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    },
  },
  computed: {
    timezones: function () {
      return this.$store.state.settings.system_timezone.attributes.options;
    },
  },
  locales: {
    deDe: {
      "Clock format": "Uhrzeit-Format",
      "12 hours": "12 Stunden",
      "24 hours": "24 Stunden",
      "Show time with seconds": "Uhrzeit mit Sekunden anzeigen",
      "Use different time zone": "Andere Zeitzone verwenden",
      "Select your time zone": "Wähle deine Zeitzone",
    },
    frFr: {
      "Clock format": "Format d'horloge",
      "12 hours": "12 heures",
      "24 hours": "24 heures",
      "Show time with seconds": "Afficher le temps en secondes",
      "Use different time zone": "Utiliser un fuseau horaire différent",
      "Select your time zone": "Sélectionnez votre fuseau horaire",
    },
    esEs: {
      "Clock format": "Formato de reloj",
      "12 hours": "12 horas",
      "24 hours": "24 horas",
      "Show time with seconds": "Mostrar tiempo con segundos",
      "Use different time zone": "Usa diferentes zonas horarias",
      "Select your time zone": "Selecciona tu zona horaria",
    },
    plPl: {
      "Clock format": "Format zegara",
      "12 hours": "12 godziny",
      "24 hours": "24 godziny",
      "Show time with seconds": "Pokaż czas za pomocą sekund",
      "Use different time zone": "Użyj innej strefy czasowej",
      "Select your time zone": "Wybierz swoją strefę czasową",
    },
    koKr: {
      "Clock format": "시계 형식",
      "12 hours": "12 시간",
      "24 hours": "24 시간",
      "Show time with seconds": "초로 시간 표시",
      "Use different time zone": "다른 시간대 사용",
      "Select your time zone": "시간대를 선택하십시오",
    },
  },
};
</script>
